body{
   background-color:#5f9ea0;
   justify-content: center;
  
}

.main--home {
   padding-left: 100px;
   padding-top: 10px;
   padding-bottom: 10px;
   
}

.card--home {
   max-width: 90%;
   box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
   align-items: center;
   background-color: pink;
  
}

.header--home {
   color:lightpink;
   padding-left: 40px;
   padding-top: 20px;
}

.footer--home {

   color:lightpink;
   padding-left: 40px;
   padding-bottom: 30px;
}

.main--footer {
   color:mediumvioletred;
   text-align: center;
   background-color: #fff8dc;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   height: 25px;

}

.nav--main {
   background-color:cornsilk;
}

.nav--app {
   color: mediumvioletred;
   font: bold;
}

.h3--additem, .h3--yourcloset, .h3--wishlist, .h3--contact {
   color:lightpink;
   padding-top: 10px;
   padding-left: 20px;
}

.h3 {
   color: pink;

}
.AddItemForm {
   padding-left: 30px;
   padding-bottom: 20px;
   color:pink;
   align-content: normal;
}

.sbm--btn {
   background-color: pink;
}

.card--additemform {
   background-color: cornsilk;
   align-content: center;
   max-width: 30%;
   min-width: 60%;
   padding-left: 40px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.clothContainer {
   padding-left: 30px;
   padding-bottom: 20px;

}

.itemContainer{
   padding-bottom: 20px;
}

.dlt--btn {
   background-color: red;
   max-width: 25%;
   color: white
}

.udt--btn {
   background-color:orange
}

.card--update {
   background-color: cadetblue;
   padding-left: 20px;
   padding-bottom: 20px;

   box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.h4--update, .h4--item {
   color: mediumvioletred;
   padding-top: 10px;
   padding-left: 20px;
}

.card-item {
   padding-bottom: 20px;
   padding-left: 20px;
   background-color:pink;
   box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

.form--main {
   padding-top: 0px;
   padding-left: 30px;
   padding-bottom: 20px;
}

.email {
   max-width: 40%;
}

.inquiry {
   max-width: 90%;
}

.image--home {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 60%;
}

.main--wish {
   padding-bottom: 20px;
}

.h4--wishlist {
   color: pink;
  padding-left: 100px;
  
}

.upload--button {
   cursor: pointer;
   font: inherit;
   min-height: 48px;
   min-width: 48px;
   background-color: gray;
}

.file--upload {
   padding-top: 70px;
}

.inpt--button {
   padding-left: 50px;
}

.img--main {
   padding: 20px;
}